
ClientApp/.idea/deploymentTargetDropDown.xml
ClientApp/.idea/vcs.xml
VendorApp/.idea/deploymentTargetDropDown.xml
VendorApp/.idea/gradle.xml
VendorApp/.idea/vcs.xml
ClientApp/.idea/deploymentTargetDropDown.xml
VendorApp/.idea/deploymentTargetDropDown.xml
VendorApp/.idea/gradle.xml
VendorApp/.idea/vcs.xml
ClientApp/.idea/deploymentTargetDropDown.xml
VendorApp/.idea/deploymentTargetDropDown.xml
VendorApp/.idea/gradle.xml
VendorApp/.idea/vcs.xml
